{#
/**
* 2022 Vilkas Group Oy
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License 3.0 (OSL-3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* https://opensource.org/licenses/OSL-3.0
*
*  @author    Vilkas Group Oy <techsupport@vilkas.fi>
*  @copyright 2022 Vilkas Group Oy
*  @license   https://opensource.org/licenses/OSL-3.0  Open Software License 3.0 (OSL-3.0)
*  International Registered Trademark & Property of Vilkas Group Oy
*/
#}
<div class="card">
  <div class="card-header">
    <h3 class="card-header-title">PostNord</h3>
  </div>
  <div class="card-body">
    <div class="vg-postnord-order-shipment-info">
      <div class="vg-postnord-shipment-pickup-info">
        {% if service_point %}
          {% set delivery_address = service_point['deliveryAddress'] %}
          <p>{{ service_point['name'] }}</p>
          <p>{{ delivery_address['streetName'] ~ ' ' ~ delivery_address['streetNumber'] }}</p>
          <p>{{ delivery_address['postalCode'] ~ ' ' ~ delivery_address['city'] }}</p>
        {% else %}
          {{ 'No service point'|trans({}, 'Modules.Vgpostnord.Admin') }}
        {% endif %}
      </div>
      <div class="vg-postnord-booking-list">
        <table>
          <tr>
            <td class="vg-postnord-table-sub-heading" colspan="3">
              {{ 'Booking information'|trans({}, 'Modules.Vgpostnord.Admin') }}
            </td>
          </tr>
          {% if bookings|length is same as(0) %}
            <tr>
              <td colspan="3">{{ 'No bookings'|trans({}, 'Modules.Vgpostnord.Admin') }}</td>
            </tr>
          {% endif %}
          {% for booking in bookings %}
            {% if loop.index0 is same as(1) %}
              <tr>
                <td class="vg-postnord-table-sub-heading" colspan="3">
                  {{ 'Past bookings'|trans({}, 'Modules.Vgpostnord.Admin') }}
                </td>
              </tr>
            {% endif %}
            {% if loop.index0 in [0, 1] %}
              <tr>
                <th>{{ 'ID'|trans({}, 'Modules.Vgpostnord.Admin') }}</th>
                <th>{{ 'Finalized'|trans({}, 'Modules.Vgpostnord.Admin') }}</th>
                <th>{{ 'Label'|trans({}, 'Modules.Vgpostnord.Admin') }}</th>
                <th>{{ 'Return Label'|trans({}, 'Modules.Vgpostnord.Admin') }}</th>
                <th>{{ 'Actions'|trans({}, 'Modules.Vgpostnord.Admin') }}</th>
                <th>{{ 'Tracking'|trans({}, 'Modules.Vgpostnord.Admin') }}</th>
              </tr>
            {% endif %}
            <tr>
              <td>{{ booking.id }}</td>
              <td>
                {{ booking.finalized ?
                booking.finalized|date('d-m-Y H:i:m') :
               'Not sent'|trans({}, 'Modules.Vgpostnord.Admin') }}
              </td>
              {% if booking.idLabelExternal or (not booking.finalized and loop.index0 is same as(0)) %}
                <td><a href="{{ path('admin_vg_postnord_fetch_label', {'id_booking': booking.id}) }}"
                       target="_blank">{{ booking.idLabelExternal ? 'Show'|trans({}, 'Modules.Vgpostnord.Admin') : 'Fetch label'|trans({}, 'Modules.Vgpostnord.Admin') }}</a>
                </td>
              {% else %}
                <td>{{ 'No label'|trans({}, 'Modules.Vgpostnord.Admin') }}</td>
              {% endif %}
              {% if booking.idLabelExternal or (not booking.finalized and loop.index0 is same as(0)) %}
                <td>
                  {% if booking.idLabelExternal %}
                    <a href="{{ path('admin_vg_postnord_fetch_return_label', {'id_booking': booking.id}) }}" target="_blank">
                      {{ booking.getReturnLabelData is not null ?
                        'Show' :
                        'Fetch label'|trans({}, 'Modules.Vgpostnord.Admin') }}
                    </a>
                  {% else %}
                    -
                  {% endif %}
                </td>
              {% else %}
                <td>{{ 'No return label'|trans({}, 'Modules.Vgpostnord.Admin') }}</td>
              {% endif %}
              {% if not booking.finalized and loop.index0 is same as(0) %}
                <td>
                  <a href="{{ path('admin_vg_postnord_edit_action', {'bookingId': booking.id}) }}">
                    {{ 'Edit'|trans({}, 'Modules.Vgpostnord.Admin') }}
                  </a>
                </td>
              {% elseif booking.labelData and booking.returnLabelData %}
                <td>
                  <a href="{{ path('admin_vg_postnord_fetch_both_label', {'id_booking': booking.id}) }}" target="_blank">
                    {{ 'Show both labels' |trans({}, 'Modules.Vgpostnord.Admin') }}
                  </a>
                </td>
              {% else %}
                <td>-</td>
              {% endif %}
              <td>
                {% if booking.trackingData is not empty %}
                  {% for tracking in booking.trackingData %}
                    <a href="{{ tracking.url }}" target="_blank">{{ tracking.label }}</a><br>
                  {% endfor %}
                {% else %}
                  -
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="vg-postnord-action-buttons">
      <button type="button" class="btn btn-primary" name="vg-postnord-create-booking-button" onclick="location.href='{{ path('admin_vg_postnord_create_booking', {'id_order': id_order, 'generate_label': false}) }}';">
        {{ 'Create booking'|trans({}, 'Modules.Vgpostnord.Admin') }}
      </button>
      <button type="button" class="btn btn-primary" name="vg-postnord-create-booking-button" onclick="window.open('{{ path('admin_vg_postnord_create_booking', {'id_order': id_order, 'generate_label': true}) }}', '_blank')">
        {{ 'Create booking and fetch label'|trans({}, 'Modules.Vgpostnord.Admin') }}
      </button>
    </div>
  </div>
</div>
